<!DOCTYPE html>
<html lang="en">
{% load i18n %}
{% load static tailwind_tags %}
{% load static %}
{% include 'main/includes/messages.html' %}

<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteMaster - Password Reset</title>
</head>
<body>
    <div class="flex h-screen items-center justify-center w-full px-3">
        <div class="flex flex-col px-6 py-12 lg:px-8 w-full border border-slate-200 bg-blue-50 max-w-md border border-slate-200 rounded-md shadow-lg">
            <div class="mx-auto w-full max-w-sm text-center iyems-center justify-center">
                <a href="{% url 'home' %}" class="inline-flex gap-2 items-center">
                    <div class="w-8 h-8 bg-gradient-to-br from-indigo-600 to-purple-600 rounded-lg flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                    </div>
                    <span class="text-xl font-bold text-slate-900">NoteMaster</span>
                </a>
                <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-slate-700">Password reset link sent</h2>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center text-center justify-center">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="text-slate-600 text-md mb-4">We have sent you a password reset link in your email, use it to reset your password!</p>
                <a href="{% url 'home' %}" class="font-barlow max-w-sm mt-3 rounded-md bg-blue-600 px-5 py-3 text-white font-semibold">Home</a>
            </div>
        </div>
    </div>
</body>
</html>
